<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget</title>
</head>
<body>

<form method='post' action="/form" >
    <label for="params">Choose query params:</label>
    <select id="tables" name="tables">
        {% for tab in tables %}
            <option value="{{tab}}">{{tab}}</option>
        {% endfor %}
    </select>
    <select id="aggs" name="aggs">
        {% for agg in aggs %}
            <option value="{{agg}}">{{agg}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="submit">
  </form>
  <div>{{ tables|safe }}</div>
  <div>{{ aggs|safe }}</div>
  <div class="hero-cta"><a class="button button-primary" href="/form">Enter new input</a></div>

  <!-- {% for div in result %}
    {{ div|safe }}
  {% endfor %} -->
  {{ agged|safe }}


</body>
<script>
    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        console.log('form submitted');
        let tablesElem = document.getElementById("tables");
        let tables = tablesElem.options[tablesElem.selectedIndex].text;
        let aggsElem = document.getElementById('aggs');
        let aggs = aggsElem.options[aggsElem.selectedIndex].text;
        var form = document.querySelector('form');
        fetch('/form', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({tables,aggs})
        })
        .then(response => response.json())
        .then(data => {
            console.log('html success',{tables,aggs});
        })
        .catch(error => console.error('Error:', error));
    });
</script>
</html>