<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget</title>
</head>
<body>

<form method='post' action="/form/indexing" >
    <label for="params">Index Cols|Rows:</label>
    <input type="string" name="cols" value="columns"/>
    <input type="string" name="rows" value="rows"/>
    <input type="string" name="table" value={{ table|safe }}>
    <input type="string" name="agg" value= {{ agg|safe }}/>
    <input type="submit">
  </form>
  <div>{{ columns|safe }}</div>
  <div>{{ rows|safe }}</div>
    <div>{{ agg|safe }}</div>
    <div>{{ table|safe }}</div>

  <div class="hero-cta"><a class="button button-primary" href="/form">Enter new input</a></div>
  {{ agged|safe }}


</body>
<!-- <script>
    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        console.log('form submitted');
        let tablesElem = document.getElementById("tables");
        let tables = tablesElem.options[tablesElem.selectedIndex].text;
        let aggsElem = document.getElementById('aggs');
        let aggs = aggsElem.options[aggsElem.selectedIndex].text;
        var form = document.querySelector('form');
        fetch('/form', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({tables,aggs})
        })
        .then(response => response.json())
        .then(data => {
            console.log('html success',{tables,aggs});
        })
        .catch(error => console.error('Error:', error));
    });
</script> -->
</html>