<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget</title>
</head>
<body>
<form method="post">
    <input type="string" name="table" value="table name"/>
    <input type="string" name="col" value="column"/>
    <input type="string" name="row" value="row"/>
    <input type="string" name="agg" value="aggregation type"/>
    <input type="submit">
    <div class="hero-cta"><a class="button button-primary" href="/">Back</a></div>
</form>
{{ result1|safe }}
{{ result2|safe }}
{{ result|safe }}


</body>
</html>
