<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget</title>
</head>
<body>
<form method="post">
    <input type="string" name="table" value="table name"/>
    <input type="string" name="col" value="column"/>
    <input type="string" name="row" value="row"/>
    <input type="string" name="agg" value="aggregation type"/>
    <input type="submit">
</form>

<!-- <form method='get',action="/form/output">
    <label for="cars">Choose query params:</label>
    <select id="tables" name="tables">
        {% for tab in tables %}
            <option value="{{tab}}">{{tab}}</option>
        {% endfor %}
      
    </select>
    <select id="aggs" name="aggs">
        {% for agg in aggs %}
            <option value="{{agg}}">{{agg}}</option>
        {% endfor %}
    </select>
    <input type="submit">
  </form>
  <div class="hero-cta"><a class="button button-primary" href="/form">Enter new input</a></div> -->
<div>{{ tables|safe }}</div>
<div>{{ aggs|safe }}</div>
<div class="hero-cta"><a class="button button-primary" href="/form">reenter query</a></div>

{{ result|safe }}


</body>
</html>
