<!DOCTYPE html>
<html>
    <head>
        <title>block and inline</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>BLOCK</h1>
        <p>Block elements are alsways starts on a new line and the browsers automatically add some space (a margin) before and after the element.</p>
        <p>For example p tag and div tag</p>
        <p style="border: 1px solid black">This is p tag</p>
        <div style="border: 1px solid black">This is div tag</div>
        <p>Both of them are block element and they will take up the full width available</p>
        <p>When use together with CSS, the div tag can be used to style blocks of content:</p>
        <div style="background-color:lightblue;color:black;padding:20px;">
            <h3>div example</h3>
            <p>This is a block content.</p>
        </div>
        <hr>
        <h1>INLINE</h1>
        <p>Inline element doesn't start on a new line and only takes up as much width as necessary</p>
        <p>For example span tag</p>
        <p>This is a p tag example with a <span style="color:red;">span tag</span> inside!</p>
    </body>
</html>