<!DOCTYPE html>
<html>

<header>
    <link rel="stylesheet" type="text/css" href="css/image.css" />
</header>

<body>
    <h1>You can add pictures and gif in html</h1>
    <div class="gallery-container w-3 h-3">
        <div class="gallery-item">
            <div class="image">
                <img src="../images/gifexample.gif" alt="gifexample">
            </div>
            <div class="text">and you can define an image map</div>
        </div>
    </div>
    <div class="gallery-container h-2">
        <div class="gallery-item">
            <div class="image">
                <img src="../images/pic.png" alt="pic" usemap="#graphic" width="886" height="462">
            </div>
            <div class="text"></div>
        </div>
    </div>
    <div class="gallery-container w-2">
        <div class="gallery-item">
            <div class="image">
                <map name="graphic">
                        <area shape="rect" coords="145,56,342,190" alt="rectangle" href="https://zh.wikipedia.org/zh-tw/%E7%9F%A9%E5%BD%A2">
                        <area shape="circle" coords="628, 193, 96" alt="cricle" href="https://zh.wikipedia.org/zh-tw/%E5%9C%86">
                        <area shape="poly" coords="232,253,421,415,232,414" alt="triangle" href="https://zh.wikipedia.org/wiki/%E7%9B%B4%E8%A7%92%E4%B8%89%E8%A7%92%E5%BD%A2">
                    </map>
            </div>
            <div class="text">Click on the rectangle, circle and triangle to go to the new page and read more about the topic:</div>
        </div>
    </div>
    <div class="container">
        <div class="gallery-container w-3 h-2">
            <div class="gallery-item">
                <div class="image">
                    <img src="../images/picexample.jpg" alt="picexample">
                </div>
                <div class="text">レムまじ天使</div>
            </div>
        </div>

    </div>

</body>

</html>