<!DOCTYPE html>
<html>
    <head>
        <title>list</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>Here are three types of list</h2>
        <p>An unordered list:</p>
        <ul>
            <li>アスラン・ザラ</li>
            <li>ラクス・クライン</li>
            <li>ステラ・ルーシェ</li>
        </ul>
        <p>An ordered list:</p>
        <ol>
            <li>アスラン・ザラ</li>
            <li>ラクス・クライン</li>
            <li>ステラ・ルーシェ</li>
        </ol>
        <p>An ordered list with letters</p>
        <ol type="A">
            <li>アスラン・ザラ</li>
            <li>ラクス・クライン</li>
            <li>ステラ・ルーシェ</li>
        </ol>
        <p>A discription list:</p>
        <dl>
            <dt>アスラン・ザラ</dt>
            <dd>-CV:石田彰</dd>
            <dt>ラクス・クライン</dt>
            <dd>-CV:田中理惠</dd>
            <dt>ステラ・ルーシェ</dt>
            <dd>-CV:桑島法子</dd>
        </dl>
    </body>
</html>