<!DOCTYPE html>
<html>

<header class="c-header">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <h1 title="hope we can teach you something lol">Table</h1>
    <meta charset="utf-8">
    <p>Here is a table example with border</p>
    <p>
        <a class="c-btn" onclick="location.href = '../Main.html'" target="_blank">Home Page</a>
    </p>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</header>


<body>
    <section class="c-posts">
        <article class="c-posts__item">
            <table style="width:50%">
                <tr>
                    <th>person</th>
                    <th>student id</th>
                    <th>birthday</th>
                </tr>
                <tr>
                    <td>Tony siu</td>
                    <td>409856043</td>
                    <td>May 6th</td>
                </tr>
                <tr>
                    <td>葉政泓</td>
                    <td>409850442</td>
                    <td>Oct 9th</td>
                </tr>
                <tr>
                    <td>任學揆</td>
                    <td>409840476</td>
                    <td>Oct 27th</td>
                </tr>
            </table>
        </article>
    </section>
    <footer class="c-footer">
        <p>
            <a class="c-btn" onclick="location.href = '../Main.html'" target="_blank">Home Page</a>
        </p>
    </footer>
</body>

</html>