<!DOCTYPE html>
<html>

<header class="c-header">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <h1 title="hope we can teach you something lol">HTML List</h1>
    <meta charset="utf-8">
    <p>Here are three types of list</p>
    <p>
        <a class="c-btn" onclick="location.href = '../index.html'" target="_blank">Home Page</a>
    </p>
</header>

<body>
    <pre class="hl"><span class="hl kwa">&lt;!DOCTYPE</span> html<span class="hl kwa">&gt;</span>
        <span class="hl kwa">&lt;html&gt;</span>
        
        <span class="hl kwa">&lt;header</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;c-header&quot;</span><span class="hl kwa">&gt;</span>
            <span class="hl kwa">&lt;link</span> <span class="hl kwb">rel</span>=<span class="hl str">&quot;stylesheet&quot;</span> <span class="hl kwb">type</span>=<span class="hl str">&quot;text/css&quot;</span> <span class="hl kwb">href</span>=<span class="hl str">&quot;../css/style.css&quot;</span> <span class="hl kwa">/&gt;</span>
            <span class="hl kwa">&lt;h1</span> <span class="hl kwb">title</span>=<span class="hl str">&quot;hope we can teach you something lol&quot;</span><span class="hl kwa">&gt;</span>HTML List<span class="hl kwa">&lt;/h1&gt;</span>
            <span class="hl kwa">&lt;meta</span> <span class="hl kwb">charset</span>=<span class="hl str">&quot;utf-8&quot;</span><span class="hl kwa">&gt;</span>
            <span class="hl kwa">&lt;p&gt;</span>Here are three types of list<span class="hl kwa">&lt;/p&gt;</span>
            <span class="hl kwa">&lt;p&gt;</span>
                <span class="hl kwa">&lt;a</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;c-btn&quot;</span> <span class="hl kwb">onclick</span>=<span class="hl str">&quot;location.href = &apos;../index.html&apos;&quot;</span> <span class="hl kwb">target</span>=<span class="hl str">&quot;_blank&quot;</span><span class="hl kwa">&gt;</span>Home Page<span class="hl kwa">&lt;/a&gt;</span>
            <span class="hl kwa">&lt;/p&gt;</span>
        <span class="hl kwa">&lt;/header&gt;</span>
        
        <span class="hl kwa">&lt;body&gt;</span>
            <span class="hl kwa">&lt;section</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;c-posts&quot;</span><span class="hl kwa">&gt;</span>
                <span class="hl kwa">&lt;article</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;c-posts__item&quot;</span><span class="hl kwa">&gt;</span>
                    <span class="hl kwa">&lt;h2&gt;</span>An unordered list:<span class="hl kwa">&lt;/h2&gt;</span>
                    <span class="hl kwa">&lt;p&gt;</span>
                        <span class="hl kwa">&lt;ul&gt;</span>
                            <span class="hl kwa">&lt;li&gt;</span>アスラン・ザラ<span class="hl kwa">&lt;/li&gt;</span>
                            <span class="hl kwa">&lt;li&gt;</span>ラクス・クライン<span class="hl kwa">&lt;/li&gt;</span>
                            <span class="hl kwa">&lt;li&gt;</span>ステラ・ルーシェ<span class="hl kwa">&lt;/li&gt;</span>
                        <span class="hl kwa">&lt;/ul&gt;</span>
                    <span class="hl kwa">&lt;/p&gt;</span>
        
                <span class="hl kwa">&lt;/article&gt;</span>
                <span class="hl kwa">&lt;article</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;c-posts__item&quot;</span><span class="hl kwa">&gt;</span>
                    <span class="hl kwa">&lt;h2&gt;</span>An ordered list:<span class="hl kwa">&lt;/h2&gt;</span>
                    <span class="hl kwa">&lt;p&gt;</span>
                        <span class="hl kwa">&lt;ol&gt;</span>
                            <span class="hl kwa">&lt;li&gt;</span>アスラン・ザラ<span class="hl kwa">&lt;/li&gt;</span>
                            <span class="hl kwa">&lt;li&gt;</span>ラクス・クライン<span class="hl kwa">&lt;/li&gt;</span>
                            <span class="hl kwa">&lt;li&gt;</span>ステラ・ルーシェ<span class="hl kwa">&lt;/li&gt;</span>
                        <span class="hl kwa">&lt;/ol&gt;</span>
                    <span class="hl kwa">&lt;/p&gt;</span>
                <span class="hl kwa">&lt;/article&gt;</span>
                <span class="hl kwa">&lt;article</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;c-posts__item&quot;</span><span class="hl kwa">&gt;</span>
                    <span class="hl kwa">&lt;h2&gt;</span>An ordered list with letters<span class="hl kwa">&lt;/h2&gt;</span>
                    <span class="hl kwa">&lt;p&gt;</span>
                        <span class="hl kwa">&lt;ol</span> <span class="hl kwb">type</span>=<span class="hl str">&quot;A&quot;</span><span class="hl kwa">&gt;</span>
                            <span class="hl kwa">&lt;li&gt;</span>アスラン・ザラ<span class="hl kwa">&lt;/li&gt;</span>
                            <span class="hl kwa">&lt;li&gt;</span>ラクス・クライン<span class="hl kwa">&lt;/li&gt;</span>
                            <span class="hl kwa">&lt;li&gt;</span>ステラ・ルーシェ<span class="hl kwa">&lt;/li&gt;</span>
                        <span class="hl kwa">&lt;/ol&gt;</span>
                    <span class="hl kwa">&lt;/p&gt;</span>
        
                <span class="hl kwa">&lt;/article&gt;</span>
                <span class="hl kwa">&lt;article</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;c-posts__item&quot;</span><span class="hl kwa">&gt;</span>
                    <span class="hl kwa">&lt;h2&gt;</span>A discription list:<span class="hl kwa">&lt;/h2&gt;</span>
                    <span class="hl kwa">&lt;p&gt;</span>
                        <span class="hl kwa">&lt;dl&gt;</span>
                            <span class="hl kwa">&lt;dt&gt;</span>アスラン・ザラ<span class="hl kwa">&lt;/dt&gt;</span>
                            <span class="hl kwa">&lt;dd&gt;</span>-CV:石田彰<span class="hl kwa">&lt;/dd&gt;</span>
                            <span class="hl kwa">&lt;dt&gt;</span>ラクス・クライン<span class="hl kwa">&lt;/dt&gt;</span>
                            <span class="hl kwa">&lt;dd&gt;</span>-CV:田中理惠<span class="hl kwa">&lt;/dd&gt;</span>
                            <span class="hl kwa">&lt;dt&gt;</span>ステラ・ルーシェ<span class="hl kwa">&lt;/dt&gt;</span>
                            <span class="hl kwa">&lt;dd&gt;</span>-CV:桑島法子<span class="hl kwa">&lt;/dd&gt;</span>
                        <span class="hl kwa">&lt;/dl&gt;</span>
                    <span class="hl kwa">&lt;/p&gt;</span>
                <span class="hl kwa">&lt;/article&gt;</span>
                <span class="hl kwa">&lt;article</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;c-posts__item&quot;</span><span class="hl kwa">&gt;</span>
                    <span class="hl kwa">&lt;h2&gt;</span>HTML Lists<span class="hl kwa">&lt;/h2&gt;</span>
                    <span class="hl kwa">&lt;p&gt;</span>A list is a record of short pieces of related information or used to display the data or any information in web pages in the ordered or unordered form. For instance, to purchase the items, we need to prepare a list that can either be ordered
                        or unordered list which helps us to organize the data &amp; easy to find the item. Please refer to the HTML
                        &lt; li<span class="hl kwa">&gt;</span> type Attribute article for the various types of attributes that can be used with the ordered &amp; unordered list.<span class="hl kwa">&lt;/p&gt;</span>
                <span class="hl kwa">&lt;/article&gt;</span>
            <span class="hl kwa">&lt;/section&gt;</span>
        
            <span class="hl kwa">&lt;footer</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;c-footer&quot;</span><span class="hl kwa">&gt;</span>
                <span class="hl kwa">&lt;p&gt;</span>
                    <span class="hl kwa">&lt;a</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;c-btn&quot;</span> <span class="hl kwb">href</span>=<span class="hl str">&quot;https://www.geeksforgeeks.org/html-lists/&quot;</span> <span class="hl kwb">target</span>=<span class="hl str">&quot;_blank&quot;</span><span class="hl kwa">&gt;</span>Read More<span class="hl kwa">&lt;/a&gt;</span>
                <span class="hl kwa">&lt;/p&gt;</span>
            <span class="hl kwa">&lt;/footer&gt;</span>
        <span class="hl kwa">&lt;/body&gt;</span>
        
        <span class="hl kwa">&lt;/html&gt;</span>
        </pre>
    <section class="c-posts">
        <article class="c-posts__item">
            <h2>An unordered list:</h2>
            <p>
                <ul>
                    <li>アスラン・ザラ</li>
                    <li>ラクス・クライン</li>
                    <li>ステラ・ルーシェ</li>
                </ul>
            </p>

        </article>
        <article class="c-posts__item">
            <h2>An ordered list:</h2>
            <p>
                <ol>
                    <li>アスラン・ザラ</li>
                    <li>ラクス・クライン</li>
                    <li>ステラ・ルーシェ</li>
                </ol>
            </p>
        </article>
        <article class="c-posts__item">
            <h2>An ordered list with letters</h2>
            <p>
                <ol type="A">
                    <li>アスラン・ザラ</li>
                    <li>ラクス・クライン</li>
                    <li>ステラ・ルーシェ</li>
                </ol>
            </p>

        </article>
        <article class="c-posts__item">
            <h2>A discription list:</h2>
            <p>
                <dl>
                    <dt>アスラン・ザラ</dt>
                    <dd>-CV:石田彰</dd>
                    <dt>ラクス・クライン</dt>
                    <dd>-CV:田中理惠</dd>
                    <dt>ステラ・ルーシェ</dt>
                    <dd>-CV:桑島法子</dd>
                </dl>
            </p>
        </article>
        <article class="c-posts__item">
            <h2>HTML Lists</h2>
            <p>A list is a record of short pieces of related information or used to display the data or any information in web pages in the ordered or unordered form. For instance, to purchase the items, we need to prepare a list that can either be ordered
                or unordered list which helps us to organize the data & easy to find the item. Please refer to the HTML
                < li> type Attribute article for the various types of attributes that can be used with the ordered & unordered list.</p>
        </article>
    </section>

    <footer class="c-footer">
        <p>
            <a class="c-btn" href="https://www.geeksforgeeks.org/html-lists/" target="_blank">Read More</a>
        </p>
    </footer>
</body>

</html>