<!DOCTYPE html>
<html>

<header class="c-header">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <h1 title="hope we can teach you something lol">HTML List</h1>
    <meta charset="utf-8">
    <p>Here are three types of list</p>
    <p>
        <a class="c-btn" onclick="location.href = '../index.html'" target="_blank">Home Page</a>
    </p>
</header>

<body>
    <section class="c-posts">
        <article class="c-posts__item">
            <h2>An unordered list:</h2>
            <p>
                <ul>
                    <li>アスラン・ザラ</li>
                    <li>ラクス・クライン</li>
                    <li>ステラ・ルーシェ</li>
                </ul>
            </p>

        </article>
        <article class="c-posts__item">
            <h2>An ordered list:</h2>
            <p>
                <ol>
                    <li>アスラン・ザラ</li>
                    <li>ラクス・クライン</li>
                    <li>ステラ・ルーシェ</li>
                </ol>
            </p>
        </article>
        <article class="c-posts__item">
            <h2>An ordered list with letters</h2>
            <p>
                <ol type="A">
                    <li>アスラン・ザラ</li>
                    <li>ラクス・クライン</li>
                    <li>ステラ・ルーシェ</li>
                </ol>
            </p>

        </article>
        <article class="c-posts__item">
            <h2>A discription list:</h2>
            <p>
                <dl>
                    <dt>アスラン・ザラ</dt>
                    <dd>-CV:石田彰</dd>
                    <dt>ラクス・クライン</dt>
                    <dd>-CV:田中理惠</dd>
                    <dt>ステラ・ルーシェ</dt>
                    <dd>-CV:桑島法子</dd>
                </dl>
            </p>
        </article>
        <article class="c-posts__item">
            <h2>HTML Lists</h2>
            <p>A list is a record of short pieces of related information or used to display the data or any information in web pages in the ordered or unordered form. For instance, to purchase the items, we need to prepare a list that can either be ordered
                or unordered list which helps us to organize the data & easy to find the item. Please refer to the HTML
                < li> type Attribute article for the various types of attributes that can be used with the ordered & unordered list.</p>
        </article>
    </section>

    <footer class="c-footer">
        <p>
            <a class="c-btn" href="https://www.geeksforgeeks.org/html-lists/" target="_blank">Read More</a>
        </p>
    </footer>
</body>

</html>