<!DOCTYPE html>
<html>

<header class="c-header">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <h1 title="hope we can teach you something lol">Table</h1>
    <meta charset="utf-8">
    <p>Here is a table example with border</p>
    <p>
        <a class="c-btn" onclick="location.href = '../index.html'" target="_blank">Home Page</a>
    </p>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</header>


<body>
    <section class="c-posts">
        <article class="c-posts__item">
            <table style="width:50%">
                <tr>
                    <th>person</th>
                    <th>student id</th>
                    <th>birthday</th>
                </tr>
                <tr>
                    <td>Tony siu</td>
                    <td>409856043</td>
                    <td>May 6th</td>
                </tr>
                <tr>
                    <td>葉政泓</td>
                    <td>409850442</td>
                    <td>Oct 9th</td>
                </tr>
                <tr>
                    <td>任學揆</td>
                    <td>409840476</td>
                    <td>Oct 27th</td>
                </tr>
            </table>
        </article>
        <article class="c-posts__item">
            <h2>HTML Table</h2>
            <p>HTML Table is an arrangement of data in rows and columns, or possibly in a more complex structure. Tables are widely used in communication, research, and data analysis. Tables are useful for various tasks such as presenting text information
                and numerical data. It can be used to compare two or more items in the tabular form layout. Tables are used to create databases.</p>

        </article>
        <article class="c-posts__item">
            <h2>Defining Tables in HTML</h2>
            <p>An HTML table is defined with the “table” tag. Each table row is defined with the “tr” tag. A table header is defined with the “th” tag. By default, table headings are bold and centered. A table data/cell is defined with the “td” tag.</p>
        </article>
    </section>

    <footer class="c-footer">
        <p>
            <a class="c-btn" href="https://www.geeksforgeeks.org/html-tables/" target="_blank">Read More</a>
        </p>
    </footer>
</body>

</html>