<DOCTYPE html>
    <html>
    <header class="c-header">
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <h1 title="hope we can teach you something lol">Video embeded in HTML</h1>
        <meta charset="utf-8">
        <p>The iframe in HTML stands for Inline Frame. The ” iframe ” tag defines a rectangular region within the document in which the browser can display a separate document, including scrollbars and borders. An inline frame is used to embed another document
            within the current HTML document. The HTML iframe name attribute is used to specify a reference for an
            < Iframe> element. The name attribute is also used as a reference to the elements in JavaScript. The iframe is basically used to show a webpage inside the current web page. The ‘ src ‘ attribute is used to specify the URL of the document that occupies
                the iframe.</p>
        <p>
            <a class="c-btn" onclick="location.href = '../index.html'" target="_blank">Home Page</a>
        </p>
    </header>


    <body>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/LYwaBpL6njk?autoplay=1&enablejsapi=1">
        </iframe>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/LYwaBpL6njk?autoplay=1&mute=1&enablejsapi=1">
        </iframe>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/LYwaBpL6njk?autoplay=1&mute=1&enablejsapi=1">
        </iframe>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/LYwaBpL6njk?autoplay=1&mute=1&enablejsapi=1">
        </iframe>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/LYwaBpL6njk?autoplay=1&mute=1&enablejsapi=1">
        </iframe>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/LYwaBpL6njk?autoplay=1&mute=1&enablejsapi=1">
        </iframe>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/LYwaBpL6njk?autoplay=1&mute=1&enablejsapi=1">
        </iframe>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/LYwaBpL6njk?autoplay=1&mute=1&enablejsapi=1">
        </iframe>
        <footer class="c-footer">
            <p>
                <a class="c-btn" href="https://www.geeksforgeeks.org/html-iframes/" target="_blank">Home Page</a>
            </p>
        </footer>

    </body>


    </html>